name: Ruby

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JRuby versions
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: [jruby-9.2.9.0, jruby-9.2.11.0, jruby-head]
    - name: Build and test with rake
      run: |
        ruby extconf.rb
        make
        gem install rspec
        rake spec
